*.class
*.log
*.tmp
*.bak
*.swp
*~.nib

# MAC specific
.DS_Store

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Eclipse specifics
.cache
.classpath
.project
.metadata
.gradle
bin/
tmp/
local.properties
.settings/
.loadpath


# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# sbteclipse plugin 
.target
